﻿
@{
    ViewData["Title"] = "Index";
}
@*<partial name="_Notifications" /> --use in specific html if needed only that file*@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus"> </i>&nbsp; Create New Product</a>
        </div>
    </div>
    <br><br>

<table id="tblData" class= "table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
</table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}