﻿@model CoverType

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Delete Category</h2>
        <hr />
        @* <div asp-validation-summary="All"></div>*@
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control">

        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn-secondary btn" style="width:150px">Back to List</a>

    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"></partial>
    }
}

