﻿@model Company
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input hidden asp-for="@Model.Id">

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 p-2">
                    <h2 class="text-primary">@(Model.Id==0?"Create":"Update") Company</h2>
                </div>

                <hr />
                @* <div asp-validation-summary="All"></div>*@

                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="StreetAddress"></label>
                    <textarea asp-for="StreetAddress" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                }

                <a asp-controller="Company" asp-action="Index" class="btn-secondary btn" style="width:150px">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"></partial>
    }
<script>
        function ValidateInput(){
      tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
</script>
}
